.ant-row,.ant-row form {
    background-color: #b75757;
}
.ant-row {
    &,form {
        background-color: #b75757;
    }
    form {
        div:nth-child(2) {
            color:#fff;
        }
    }
}

.header-icon {
    text-align:center;
    padding-top:10px;
    color:#fff;
    font-size:12px;
}